@font-face{
    font-family: aldrich;
    src:url("../fonts/Aldrich-regular.ttf");

}

body{
    font-family: aldrich;
    margin: 0;
    height: 100vh;    
}

.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.numeros{
    display: flex;
    padding: 7px 19px;
    background-color: black;
    border-radius: 10px 10px 0 0;
}

.numero, .puntos{
    color: greenyellow;
    font-size: 4em;
    text-align: center;
    user-select: none;
    
}

.numero{
    width: 50px;
   
}

.puntos{
    width: 20px;
}

.boton{
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    width: 256px;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.boton:hover{
    color: red;
}

.material-icons{
    font-size: 2.6em !important;
}
